.modal_fci{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20vh;
    left: 25vw;
     height: 75vh;
     width: 55vw;

     background-color: #00000029;
     backdrop-filter: blur(8px);
     color: aliceblue;
  
     -webkit-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
     -moz-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
     box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
     
     -webkit-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
     box-shadow: -1px -5px 11px -6px rgba(0,0,0,0.75);
     
     border-radius: 15px;
     padding: 20px;
     
     visibility: visible;
     opacity: 1;
     transition: visibility 0.5s linear, opacity 0.5s linear;
   
     &_oculto{        
        visibility: hidden;
        opacity: 0;

     }
     &_titulo{
        text-align: center;
        height: 15%;
        margin-bottom: 15px;
     }
     &_imagen{
        text-align: center;
        height: 30%;
        margin-bottom: 0px;
        &--imagen{
            width: 100%;
            height: 100px;
            object-fit: cover;
            border-radius: 15px;
            opacity: .7;
      }
     }
     &_contenido{
        height: 45%;
        font-weight: 300;
     }
     &_botones{
      margin-top: 20px;
        height: 10%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
     }
     &_suscribir{
        cursor: pointer;
        transition: transform 0.5s;
        &:hover{
            transform: scale(103%);
        }
     }
     &_cerrar{
        font-weight: 300;
        cursor: pointer;
        transition: transform 0.5s;
        &:hover{
            transform: scale(103%);
        }
     }

}

.banner__fci{
   padding-top: 120px;
   background-image: url("../images/back/fci.jpg");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   height: 96vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   &__filtros{
      text-align: center;
   }
}

.contenedor__fci{
   background-image: url("../images/back/fci.jpg");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
}

.cuerpo__fci{
   background-color: #00000029;
   backdrop-filter: blur(8px);
   color: aliceblue;

   -webkit-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
   box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
   
   -webkit-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
   box-shadow: -1px -5px 11px -6px rgba(0,0,0,0.75);
   padding: 80px;
}
.lista_fci{
   font-size: 14px;
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   margin: 10px;
   padding-top: 15px;
   padding-left: 7px;
   list-style: none;
   transition: all 0.5s;
}

.lista_fci:hover{
    transform: translateX(2%);
}
.lista_fci span:hover{
   cursor: pointer;
}


.verde{
   background-color: green;
   color: white;
   border-radius: 5px;
   padding: 2px;
}

.rojo{
   background-color: rgb(204, 0, 0);
   color: white;
   border-radius: 5px;
   padding: 2px;
}