form {
    color: white;
}

.form_invertir{
    width: 70%;
}
.banner__invertir{
    padding-top: 120px;
    background-image: url("../images/back/invertir.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
 }

 .banner__invertir__titulo{
    margin: 30px;
    width: 30%;
    font-weight: 300;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
  }
 
 .contenedor__invertir{
    background-image: url("../images/back/invertir.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .cuerpo__invertir{
    background-color: #183f6500;
    backdrop-filter: blur(8px);
    color: aliceblue;
 
    -webkit-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
    
    -webkit-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
    box-shadow: -1px -5px 11px -6px rgba(0,0,0,0.75);
    padding: 80px;
 
 }

.fondos__lista {
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 12px;
    background-color: #4b4d4e;
    padding: 10px;
    transition: transform 1s;
/*     animation:  heartbeat 3s ease-in-out infinite both; */
    &:hover{
        cursor: pointer;
    }
} 

.detalle_fci_suscribir{
    cursor: pointer;
}

.eliminar_lista_fci{
    cursor: pointer;
}