.resultados{
    margin: 100px;
    padding: 20px;
    color: aliceblue;
    background-color: rgba(240,255,255,0.1);
    border-radius: 15px;
    
    &__fondo{
        font-weight: 300;
    }
}

.btnEstandar{
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 12px;
    background: none;
    padding: 10px;
    transition: transform 1s;
/*     animation:  heartbeat 3s ease-in-out infinite both; */
    &:hover{
        transform: scale(110%);
        cursor: pointer;
    }
}

.none{
    display: none;
}

  .banner__test{
    padding-top: 120px;
    background-image: url("../images/back/test.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }

 .banner__test__titulo{
    margin: 30px;
    font-weight: 300;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
  }
 
 .contenedor__test{
    background-image: url("../images/back/test.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .cuerpo__test{
    background-color: #183f6500;
    backdrop-filter: blur(8px);
    color: aliceblue;
 
    -webkit-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 11px -8px rgba(0,0,0,0.75);
    
    -webkit-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
    box-shadow: -1px -5px 11px -6px rgba(0,0,0,0.75);
    padding: 80px;
 
 }